<% layout("layout/boilerplate") %>
  <div class="row">
    <h1 class="col-8 offset-2">login</h1>
    <div class="col-8 offset-2">
      <form action="/login" method="POST"  novalidate 
        class="needs-validation" >
        <div class="mb-3">
          <label for="username" class="col-sm-2-col-form-label">username</label>
          <input name="username" 
          id="username"
           type="text" 
           class="form-control" required/>

          <div class="valid-feedback">Looks good!</div>


    </div>
     <div class="mb-3">
          <label for="password" class="col-sm-2-col-form-label">password</label>
          <input name="password" 
          id="password"
           type="text" 
           class="form-control" required/>
  </div>

  <button class="btn btn-success">login</button>

      </form>
    </div>
  </div>